In [ ]:
#from google.colab import drive
#drive.mount ('/content/drive')

In [ ]:
# reading excel file from google drive
import os
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Vinayaka.xlsx')

In [32]:
df.head(2)

,GSTR-4A period,GSTIN of supplier,Trade/Legal name,Invoice number,Invoice type,Invoice date,Invoice value (₹),Place of supply,Supply attract reverse charge,Rate (%),Taxable value (₹),Integrated tax (₹),Central tax (₹),State/UT tax (₹),Cess (₹),GSTR-1/IFF/GSTR-5 filing date,Source,IRN,IRN date,Unnamed: 19
0,Apr-Jun 22,27AABFP7617D1ZD,P P PATEL AND COMPANY,TW/22-23/048,R,16/05/2022,191250.0,Karnataka,N,28,96105.5,26909.54,0.0,0.0,68234.90,09/06/2022,E-Invoice,fca3d6a8506d330c5c67d15521310542f9208d42b3bd1b...,16-05-2022,NaN
1,Apr-Jun 22,27AABFP7617D1ZD,P P PATEL AND COMPANY,GN/22-23/276,R,27/06/2022,76900.0,Karnataka,N,28,38643.2,10820.10,0.0,0.0,27436.67,11/07/2022,E-Invoice,5daf3ed3e08adaa29f6cac45833298ccf4c849489778a9...,27-06-2022,NaN

In [34]:
df['GSTIN of supplier'].value_counts()

29ALNPJ5675L1Z8    45
29AKNPM4916E1ZW    34
29ARXPB5419N1Z0    17
27AABFP7617D1ZD     9
29AROPC0679A1ZV     9
36AGIPD6159M1Z0     6
29AEJPK2136A1ZV     4
29AMPPA6866M1Z8     3
Name: GSTIN of supplier, dtype: int64

In [36]:
# select only the numeric columns to sum
numeric_cols = df.select_dtypes(include='number').columns
numeric_cols = numeric_cols.drop('Rate (%)')

# group by the 'GSTIN of supplier' and 'Rate (%)' columns, and sum the numeric columns
result = df.groupby(['GSTIN of supplier', 'Rate (%)'], as_index=False)[numeric_cols].sum()

In [37]:
result.head(2)

,GSTIN of supplier,Rate (%),Invoice value (₹),Taxable value (₹),Integrated tax (₹),Central tax (₹),State/UT tax (₹),Cess (₹),Unnamed: 19
0,27AABFP7617D1ZD,28,1149500.0,577638.00,161738.66,0.00,0.00,410122.95,1.0
1,29AEJPK2136A1ZV,12,47630.0,40518.24,0.00,2431.09,2431.09,0.00,0.0

In [ ]:
# storing the output file in google drive, change the filename at the end which stores file in gdrive
result.to_excel(excel_writer=r'/content/drive/MyDrive/Colab Notebooks/Vinayanka_agg.xlsx')